@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
}

* {
  font-family: "Manrope", serif;
}


.scrollbar::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(128, 128, 128, 0.307);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #007fff;
}

.next {
  animation: slide-down .5s ease-out;
}

@keyframes slide-down {
  from {
    top: -100%;
    opacity: 0;
  }
}
.slideUp {
  position: relative;
  top: 0;
  animation: slideUp .5s ease-out;
  transition: all 1s ease-out;
}

@keyframes slideUp {
  from {
    top: -80vh;
    opacity: 0;
  }
}

.slideDown {
  position: relative;
  top: 0;
  animation: slideDown .5s ease-out;
  transition: all 1s ease-out;
}

@keyframes slideDown {
  from {
    top: 80vh;
    opacity: 0;
  }
}

.zoom-in {
  animation: zoomIn .5s ease-out;
  transition: all  .5s ease-out;
  transform-origin: center;
}

@keyframes zoomIn {
  from {
    transform: scale(0.2);
  }
}